[packages]
certifi = "*"
chardet = "*"
dlib = "*"
idna = "*"
imutils = "*"
requests = "*"
scipy = "*"
urllib3 = "*"
numpy = "*"
opencv-contrib-python = "*"
python-socketio = {extras = ["client"], version = "*"}
flask = "*"
eventlet = "*"
flask-cors = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12.3"

[scripts]
start = "python ./carhacker.py"
