[packages]
dlib = "*"
imutils = "*"
requests = "*"
scipy = "*"
numpy = "*"
flask = "*"
flask-cors = "*"
python-socketio = "*"
opencv-contrib-python= "*"

[dev-packages]

[requires]
python_version = "3.12.3"

[scripts]
start = "python ./carhacker.py"
